@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

h1 {
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 40px;
  font-weight: 700;
  line-height: 0.46;
  letter-spacing: -0.24px
}

h2 {
  color: #000000;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
}

p {
  color: #575368;
  font-family: "Roboto";
  font-size: 16px;
}

a {
  color: #1496BE;
  font-family: "Roboto";
  font-size: 12px;
  text-decoration: none;
}

.frame {
  width:780px; 
  height:100%; 
  margin:0px auto;
  padding-bottom:50px;
}

.top {
  width:100%;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.top img {
  width: auto;
  height: 171px;
  margin-top: 20px;
}

.top p {
  color: #575368;
  font-family: "Roboto";
  font-size: 16px;
}

.top a {
  font-size: 16px;
  font-weight: 600;
}

.middle {
  width: 100%;
  height: auto;
  padding-bottom: 8px;
  border-radius: 8px 8px 8px 8px;
  background-color: #FFFFFF;
  text-align: left;
}

.middle .text01 {
  width: 100%;
  height: auto;
  padding: 32px 32px 0px 32px;
  color: #000000;
  font-family: Roboto;
  font-size: 16px;
  text-align: left;
}

.middle .text02 {
  width: 100%;
  height: auto;
  padding: 32px 32px 32px 32px;
  color: #A20000;
  font-family: Roboto;
  font-size: 16px;
  text-align: left;
}

.middle .text03 {
  width: 100%;
  height: auto;
  padding: 32px 0px 32px 0px;
  background-color: #FFDEDE;
  color: #A20000;
  font-family: Roboto;
  font-size: 16px;
  text-align: left;
}

.title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.middle .signup form {
  font-family: Roboto;
  text-align: center;
}

.middle .signup form input {
  width: 400px;
  height: 50px;
  border-radius: 10px;
  background-color: #DEDEDE;
  border-width: 0px;
  margin-bottom: 24px;
  padding: 0 16px 0 16px;

  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
}

.middle .signup form input::placeholder {
  color: #868493;
}

.middle .signup form input:-ms-input-placeholder {
  color: #868493;
}

.middle .signup form input::-ms-input-placeholder {
  color: #868493;
}

.middle .signup form input:focus{
  outline: none;
}

.middle .signup form .submit{
  width: 256px;
  height: 60px;
  margin: auto;
  border-radius: 10px;
  background-color: #282E76;
  display: flex;
  cursor: pointer;
}

.middle .signup form .submit p {
  margin: auto;
  text-align: center;
  color: #ffffff;    
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
}

.middle .errmsg {
  color: #ff0000;
  font-size: 16px;
}

.middle .redeem {
  font-size: 16px;
}

.middle .redeem a {
  font-size: 16px;
  font-weight: 400;
}

.bottom {
  width: 100%;
  height: 22px;

  margin-top: 0px;
  margin-bottom: 18px;
}

.bottom .left {
  width: 200px;
  height: 100%;
  float: left;
}

.bottom .left a {
  font-size: 16px;
  font-weight: 600;
}

.bottom .right {
  width: auto;
  height: 100%;
  float: right;
}

.bottom .right p {
  margin-top: 0px;
  height: 100%;
}

.center {
  float: center;
  text-align: center;
}

.vertical-center {
	justify-content: center;
	flex-direction: column;
	display: flex;
}

.vertical-direction {
  flex-direction: column;
	display: flex;
}

.horizontal-center {
  justify-content: center;
  flex-direction: row;
	display: flex;
}

.horizontal-direction {
  flex-direction: row;
	display: flex;
}


.padding-t-8 {
  padding-top: 8px;
}

.padding-b-8 {
	padding-bottom: 8px;
}

.padding-t-16 {
	padding-top: 16px;
}

.padding-b-16 {
	padding-bottom: 16px;
}

.padding-l-8 {
	padding-left: 8px;
}

.padding-l-16 {
	padding-left: 16px;
}

.padding-l-32 {
	padding-left: 32px;
}

.margin-t-8 {
	margin-top: 8px
}

.margin-t-16 {
	margin-top: 16px;
}

.margin-b-8 {
	margin-bottom: 8px;
}

.margin-b-16 {
	margin-bottom: 16px;
}

.margin-b-32 {
	margin-bottom: 32px;
}